{% extends "students/base.html" %}

{% block content %}

<h2>Welcome to My Django Project</h2>

<p>This is the Home Page of the College Management System.</p>

<hr>

<h3>Modules Available</h3>

<ul>
    <li>Students Management</li>
    <li>Teachers Management</li>
    <li>Library Management</li>
    <li>Attendance Management</li>
    <li>Marks Management</li>
    <li>Payments Management</li>
    <li>Accounts Management</li>
</ul>

<hr>

<h3>Technologies Used</h3>

<ul>
    <li>Python</li>
    <li>Django</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>MySQL</li>
</ul>

<hr>

<p><strong>Welcome to Django Learning!</strong></p>

{% endblock %}