{% extends "students/student_base.html" %}

{% block content %}

<h2>Search Student</h2>

<form method="POST">

    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter Student Name">

    <button type="submit">Search</button>

</form>

<br>

{% if students %}

<table border="1" cellpadding="10">

<tr>

    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>

</tr>

{% for student in students %}

<tr>

    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.age }}</td>
    <td>{{ student.email }}</td>

</tr>

{% endfor %}

</table>

{% endif %}

{% endblock %}