{% extends "students/student_base.html" %}

{% block content %}

<h2>Update Student</h2>

<form method="POST">

    {% csrf_token %}

    <label>Name</label><br>
    <input type="text" name="name" value="{{ student.name }}"><br><br>

    <label>Age</label><br>
    <input type="number" name="age" value="{{ student.age }}"><br><br>

    <label>Email</label><br>
    <input type="email" name="email" value="{{ student.email }}"><br><br>

    <button type="submit">Update Student</button>

</form>

{% endblock %}